<footer class="site-footer">
  {# <img class="logo-main-footer" src="/assets/TechieBlogLogo.png" alt="logo"> #}
  <a class="head" href="/"><span class="logo logo-main-footer">Techie Tut's</span></a>
  <p>© <script>
    const d = new Date();
    let year = d.getFullYear();
    console.log(year)
    document.write(year)
  </script> Techie's Tutorials. All rights reserved.</p>
</footer>