<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
      {# <img class="logo-main-heading" src="/assets/TechieBlogLogo.png" alt="logo"> #}
      <a class="head" href="/"><span class="logo logo-main-heading">Techie Tut's</span></a>
      </div>
      <nav>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog/">Algorithms</a>
          </li>
          {# <li>
            <a href="/blog/">blog</a>
          </li>
          <li>
            <a href="/blog/">Data Structures</a>
          </li>
          <li>
            <a href="/blog/">Programming</a> #}
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>